<?xml version="1.0"?>
<robot>
	
	<property name="M_PI" value="3.1415926535897931" />

	<!-- arm mount positions | relative to base_link -->
	<!--<property name="arm_x" value="-0.0135247781"/>
	<property name="arm_y" value="-0.0461165405"/>
	<property name="arm_z" value="0.8737003446"/>
	<property name="arm_roll" value="0.8188441679"/>
	<property name="arm_pitch" value="0.0073986966"/>
	<property name="arm_yaw" value="-0.2545901695"/>-->

	<!-- arm reference positions | used as calibration_rising for arm chain-->
	<property name="arm_1_ref" value="0.0"/>
	<property name="arm_2_ref" value="0.0"/>
	<property name="arm_3_ref" value="0.0"/>
	<property name="arm_4_ref" value="0.0"/>
	<property name="arm_5_ref" value="0.0"/>
	<property name="arm_6_ref" value="0.0"/>
	<property name="arm_7_ref" value="0.0"/>

</robot>
